build123d==0.8.0
pyyaml>=6.0.1
GitPython>=3.1.40
ruamel.yaml>=0.18.5
packaging>=23.1
setuptools
jinja2
requests
aiofiles
aiohttp
vyper-config==1.2.1
sentry-sdk==2.19.2

# Google AI
google.generativeai
Pillow

# OpenAI
openai

# Locally hosted AI
ollama
